body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0px 0px 10px #83dae2;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #070202;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 8px;
    background: #129412;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #218838;
}

.error {
    color: rgb(233, 12, 12);
    font-size: 12px;
    visibility: hidden;
}
